body {
  background-color: #399;
  width: auto;
  max-width: auto;
  margin: 5% auto;
}

html {
  font: 100%/1.15 sans-serif;
}

/*--- resets---*/

body,
figure,
figcaption {
  margin: 0;
}


/*--- flexible imagages---*/

img {
width: auto;
max-width: 100%;
height: auto;
vertical-align: center; /*removes decender spacing*/
/*
margin: 2% auto;
border: 1px solid #000;
border-radius: .5em */
}

#fig-1 {
  max-width: 40em;
  text-align: center;
  margin: 0 auto;
}

#fig-1 div {
  border: .35em dashed #333;
}

.crop-square-w24 {
  width: 20em;
  height: 20em;
  margin: 0 auto;
  overflow: hidden;
}

.crop-square-w24 img {
  max-width: 100%;
  margin: 0 0 0 0
}



/*-----links----*/
/*interactive pseudoclasses*/
a {
  color: #000;
}

a:hover,
a:focus {
  color: #ccc;
}

.back-to-top a {
  color: #000
}
/*-----Nav-----*/

nav {
  padding-top: none;
}

nav ul {
  list-style: none;
  padding-top: 0;
  padding-left: 0;
  margin: 0
}

nav li {
display: inline-block;
}

nav a {
  display: inline-block;
  text-decoration: none;
  padding: .325em;
  border: .5px solid #000;
  border-radius: .20em;
}

nav a:hover,
nav a:focus {
  background-color: #100
}

@media (min-width: 30em){

  nav li {
  display: inline;
  }
/*
main {
border: 1px dashed #ccc;
overflow: hidden;

}
*/
/*#directions {
  float: right;
  height: auto;
  width: 50%;
}
*/
.back-to-top {
  clear: both;
}
