

/*background: #333;
}

#ingredients li {
list style: circle;
padding-left: 1em;
}

#ingredients li span {
  color: #999
}


header {
margin-top: 5%;

}*/

body{
  width: 30%;
  max-width: 48em;
  margin: 5% auto;
}

.hr {
  padding-top: .125em;
  border-top: .125em dotted #000;
  border-bottom: .125em double #000;
  margin-top: 5%;
}


main {
  padding: 10%;
  border: 2em solid #999;
}
